<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC
          "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>
<h:body>
<h:form>
  <h:outputLabel value="Nom"/>
  <h:inputText value="#{gestionnairePersonne.personne.nom}"/>
  <h:outputLabel value="Age"/>
  <h:inputText value="#{gestionnairePersonne.personne.age}"/>
  <h:commandButton action="#{gestionnairePersonne.personne.accueillir()}" value="Cliquez"/>
</h:form>
</h:body>
</html>